<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <ApplicationRevision>17</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>True</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Disk</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\publish\</PublishDir>
    <PublishUrl>bin\publish\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <TargetFramework>net5.0-windows</TargetFramework>
    <UpdateEnabled>False</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>True|2022-01-19T08:42:08.8434993Z;True|2022-01-19T12:06:54.9917267+03:30;True|2022-01-19T12:03:39.3064479+03:30;True|2022-01-19T12:03:27.8110425+03:30;True|2022-01-19T11:59:25.8611200+03:30;True|2022-01-19T11:53:43.5560977+03:30;True|2022-01-19T11:49:29.2368979+03:30;True|2022-01-19T11:49:05.4454667+03:30;True|2022-01-19T11:48:03.6218268+03:30;True|2022-01-19T11:42:51.5909418+03:30;True|2022-01-19T11:42:25.9083425+03:30;True|2022-01-19T11:27:23.0512700+03:30;True|2022-01-19T11:03:59.2100331+03:30;True|2022-01-18T10:28:11.9200429+03:30;False|2022-01-18T10:27:56.3317765+03:30;True|2022-01-18T10:27:15.4943787+03:30;True|2022-01-17T11:29:05.5892950+03:30;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.5.0.x64">
      <Install>True</Install>
      <ProductName>.NET Desktop Runtime 5.0.13 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>