<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DbNames" value="AutomationDb,MelkavanDb,NewArashCmsDb,ProjectsDb,PublicDb,TeniacoDb" />
    <add key="DbBackUpPath" value="C:\sites\APIs.GetBakUp\wwwroot\BkFiles" />
    <add key="DestinationPath" value="C:\sites\APIs.GetBakUp\wwwroot\BkFiles" />
    <add key="MainUsersFilesPath" value="C:\sites\Web.Console\wwwroot\Files\PropertiesFiles" />
    <add key="DestinationUsersFilesPath" value="C:\sites\APIs.GetBakUp\wwwroot\BkFiles\PropertiesFiles" />
    <add key="MainSourcePath" value="" />
    <add key="DestinationSourcePath" value="" />
    <add key="CreateZipStartTime" value="01:30" />
    <add key="RemoveOldFilesStartTime" value="02:30" />
  </appSettings>
</configuration>