<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="Ip" value="http://213.176.28.223" />
    <add key="Port" value="6351" />-->
	  <add key="Ip" value="http://45.149.76.131" />
	  <add key="Port" value="6351" />
    <add key="DownloadRootPath" value="/wwwroot/BkFiles/" />
	  <add key="DbNames" value="AutomationDb,MelkavanDb,NewArashCmsDb,ProjectsDb,PublicDb,TeniacoDb" />
    <add key="SourceNames" value="" />
    <add key="UsersFiles" value="PropertiesFiles" />
    <add key="DestinationPath" value="C:\bk" />
    <add key="DownloadZipStartTime" value="02:40" />
	  <add key="Auto" value="false" />
  </appSettings>
</configuration>